@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Galada&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fefcd0;
  color: rgba(18, 23, 3, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(35, 109, 5, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(35, 109, 5, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(35, 109, 5, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.55);

  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 100px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Barlow Condensed;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 182px 47px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 257px;
  height: 187px;
}

.home-text {
  font-family: Barlow Semi Condensed;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(255, 255, 255, 1);
  padding: 0px 0 177px;
  text-shadow: 0px 2px 2px rgba(181, 70, 49, 1),
    0px -1px 8px rgba(181, 70, 49, 1);
  -webkit-text-stroke: 1px rgba(188, 54, 56, 1);
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 900px;
    padding: 226px 600px 0 300px;
    background-image: url("/img/home/1_home.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    width: 496px;
    height: 359px;
  }

  .home-text {
    font-family: Barlow Semi Condensed;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 0px;
  }
  .home__google-button_link {
    margin-right: -900px;
    margin-top: -60px;
  }
}

.about {
  padding: 0px 0px 32px;
  margin: auto;
  width: 375px;
  background: #bcd186;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  padding: 0 16px;
  padding-top: 24px;
}
.about-img {
  width: 284px;
  height: 284px;
  margin: auto;
}
.about-text {
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 12px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 0px 184px 0px;
    margin: auto;
    width: 1440px;
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/about/2_descr.png");
  }
  .about-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin: auto;
    padding-top: 32px;
  }
  .about-img {
    width: 388px;
    height: 388px;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 0px 0px 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  background-image: url("/img/how/3_howTo_mob.png");
}

.how-container {
  padding: 0 16px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;
}

.how-item {
  width: 343px;
  margin: auto;
  padding: 14px 12px;
  border-radius: 16px;
  background: rgba(20, 65, 2, 1);
  background: rgba(20, 65, 2, 1);
}

.how-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Barlow Semi Condensed;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(255, 255, 255, 1);
}

.toggle-button-how {
  background: none;
  border: none;

  cursor: pointer;
}

.how-answer {
  display: none;
  padding-top: 16px;
}
.how-answer img {
  width: 319px;
  height: 313px;
}
.how-answer-text {
  margin-top: 12px;

  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  width: 319px;

  padding: 0 8px;
  background: rgba(254, 252, 208, 1);

  border-radius: 12px;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    margin: auto;
    padding: 0px 0px 56px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    background-image: url("/img/how/3_howTo.png");
  }

  .how-container {
    padding: 0 326px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: auto;
  }

  .how-item {
    width: 428px;
    margin: auto;
    padding: 26px 40px;
    border-radius: 24px;
  }

  .how-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Barlow Semi Condensed;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .how-answer {
    display: none;
    padding-top: 20px;
  }
  .how-answer img {
    width: 348px;
    height: 313px;
  }
  .how-answer-text {
    margin-top: 12px;

    width: 348px;

    padding: 16px;

    border-radius: 16px;
  }
}

.reviews {
  width: 375px;

  background: #bcd186;
  margin: auto;
  padding: 0px 0px 32px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.reviews-item {
  margin: auto;
  width: 353px;
  height: 342px;

  padding: 100px 70px 0 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/reviews/rev2.png");
}

.reviews-text-bold {
  font-family: Barlow Semi Condensed;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #bcd186;
}
.reviews-text {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 814px;

    margin: auto;
    padding: 0px 0px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/reviews/8_reviews.png");
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 32px 75px 0;
    justify-content: center;
  }
  .reviews-item {
    margin: 0;
    width: 430px;
    height: 292px;

    padding: 86px 90px 0 46px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/reviews/rev1.png");
  }

  .reviews-text-bold {
    font-family: Barlow Semi Condensed;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #bcd186;
  }
  .reviews-text {
    color: #fff;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.faq {
  padding: 0px 0px 30px;
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/faq/6_faq_mob.png");
}
.faq-one {
  width: auto;
  height: 20px;
  margin: auto;
  background: rgba(35, 109, 5, 1);
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  margin-top: 24px;
  width: 328px;
  padding: 24px;
  border-radius: 24px;
  background: rgba(20, 65, 2, 1);
}

.faq-item {
  background: rgba(188, 209, 134, 1);

  padding: 12px 24px;
  border-radius: 12px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Barlow Semi Condensed;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 12px;

  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .faq {
    padding: 0px 0px 46px;
    margin: auto;
    width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/faq/6_faq.png");
  }
  .faq-one {
    width: auto;
    height: 20px;
    margin: auto;
    background: rgba(35, 109, 5, 1);
  }
  .faq-container {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 32px;
    width: 720px;
    padding: 60px;
    border-radius: 40px;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Barlow Semi Condensed;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .toggle-button {
    background: none;
    border: none;

    cursor: pointer;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding-bottom: 40px;
}

.gallery__list {
  width: auto;
  padding-top: 24px;
  margin: auto;
}
.gallery__item {
  width: 280px;
  height: 580px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 0px 0 56px;
  }

  .gallery__item {
    width: 280px;
    height: 580px;

    overflow: hidden;
    position: relative;
  }

  .gallery__list {
    width: auto;
    padding: 48px 0 0;
  }
}
.features {
  width: 375px;
  background: #bcd186;
  margin: auto;
  padding-bottom: 32px;
}

.features-list {
  padding: 0 20px;
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 12px;
}
.features-item {
  padding: 100px 17px 0;
  width: 335px;
  height: 270px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/features/1.png");
}
.features-item-two {
  background-image: url("/img/features/2.png");
}
.features-item-three {
  background-image: url("/img/features/3.png");
}
.features-item-four {
  background-image: url("/img/features/4.png");
}
.features-item-five {
  background-image: url("/img/features/5\ \(1\).png");
}
.features-item-six {
  background-image: url("/img/features/6\ \(1\).png");
}
.features-text-bold {
  font-family: Barlow Semi Condensed;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 300px;
  height: 51px;
  padding: 10px;
  background: rgba(254, 252, 208, 1);
  border-radius: 16px;
}
.features-text {
  margin-top: 8px;
  color: rgba(255, 255, 255, 1);
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 300px;
  height: 110px;
  padding: 10px;
  border-radius: 32px;
  background: rgba(20, 65, 2, 1);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 862px;

    background-image: url("/img/features/4_features.png");
    margin: auto;
    padding: 0px;
  }

  .features-list {
    padding: 32px 102px 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
  }
  .features-item {
    padding: 100px 40px 0;
    width: 380px;
    height: 293px;

    margin: auto;
  }

  .features-text-bold {
    width: 300px;
    height: 51px;
    padding: 10px;
    background: rgba(188, 209, 134, 1);
  }
}
.uniqueness {
  width: 375px;
  height: 1428px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/uniqueness/5_uniqueness_mob.png");
}
.uniqueness-text-bold {
  font-family: Barlow Semi Condensed;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 32px 33px 14px;
  color: rgba(20, 65, 2, 1);
}
.uniqueness-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.uniqueness-item {
  width: 343px;
  height: 343px;
  margin: auto;
  padding: 78px 81px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/uniqueness/1\ \(1\).png");
}
.uniqueness-text {
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 841px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/uniqueness/5_uniqueness.png");
  }
  .uniqueness-text-bold {
    font-family: Barlow Semi Condensed;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0;
    margin: auto;
    width: 612px;
    color: rgba(20, 65, 2, 1);
  }
  .uniqueness-div {
    display: flex;
    flex-direction: column-reverse;
  }
  .uniqueness-list {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 39px;
    padding: 20px 150px 40px;
  }
  .uniqueness-item {
    width: 343px;
    height: 343px;
    margin: auto;
    padding: 78px 81px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/uniqueness/1\ \(1\).png");
  }
  .uniqueness-text {
    font-family: Barlow Condensed;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/footer/9_footer_mob.png");
  width: 375px;
  height: 325px;
  margin: auto;

  color: #ffffff;
  padding: 87px 20px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 24px;
}
.footer-text {
  font-family: Barlow Semi Condensed;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: auto;

  color: #ffffff;
}

.footer-copyright {
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 122px 199px;
    background-image: url("/img/footer/9_footer.png");
    width: 1440px;
    height: 315px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .footer-text {
    font-family: Barlow Semi Condensed;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Barlow Condensed;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  padding: 45px 16px 32px;
}
.policy-terms-title-div {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 331px;
  height: 105px;
  border-radius: 0px 0px 80px 80px;
  background: rgba(35, 109, 5, 1);
}
.policy-terms-title-img {
  width: 164px;
  height: 57px;
  margin-bottom: -20px;
}

.policy-terms-title {
  color: rgba(255, 255, 255, 1);

  font-family: Galada;
  font-size: 40px;
  font-weight: 400;
  line-height: 65.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-shadow: 0px 2px 2px rgba(181, 70, 49, 1),
    0px -1px 8px rgba(181, 70, 49, 1);
}

.policy-terms-text {
  color: rgba(20, 65, 2, 1);

  font-family: Barlow Semi Condensed;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 90px 140px 56px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-title-div {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 531px;
    height: 142px;
    border-radius: 0px 0px 100px 100px;
    background: rgba(35, 109, 5, 1);
  }
  .policy-terms-title-img {
    width: 258px;
    height: 90px;
    margin-bottom: -30px;
  }

  .policy-terms-title {
    font-family: Galada;
    font-size: 48px;
    font-weight: 400;
    line-height: 78.1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
